@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0; }

#bloc_page {
  font-family: 'Roboto', serif, sans-serif;
  max-width: 1920px; }

@keyframes loading {
  100% {
    opacity: 0;
    z-index: -3; } }
@keyframes spinner {
  0% {
    transform: scale(1) rotate(0); }
  50% {
    transform: scale(2) rotate(360deg); }
  100% {
    transform: scale(1) rotate(0); } }
@keyframes animationMenu {
  0% {
    opacity: 0;
    transform: translate(0, 20px); }
  90% {
    opacity: 1; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }
@keyframes checkmark {
  0% {
    width: 0px; }
  100% {
    width: 100px; } }
@keyframes allofheart {
  0% {
    opacity: 0.4; }
  30% {
    font-weight: 600;
    opacity: 0.5; }
  50% {
    font-weight: 700;
    opacity: 0.6; }
  70% {
    font-weight: 800;
    opacity: 0.7; }
  80% {
    font-weight: 900;
    opacity: 0.85; }
  100% {
    font-weight: 900;
    opacity: 1; } }
.fa-heart:hover {
  animation: allofheart 1s ease-out forwards;
  background: linear-gradient(160deg, #FF79DA 2%, #9356DC) !important;
  -webkit-background-clip: text !important;
  color: transparent !important; }

.menu {
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0; }
  .menu .head {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 20px;
    grid-column: 1 / -1; }
    .menu .head__title {
      margin-left: 30px;
      font-family: 'Shrikhand', sans-serif;
      text-align: center;
      font-size: 1.6rem; }
    .menu .head i {
      font-size: 1.6rem !important;
      color: #929191;
      font-size: 1.3rem; }
  .menu .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 55px 0; }
    .menu .button__order {
      color: #fff;
      outline-style: none;
      cursor: pointer;
      width: 190px;
      border-radius: 5rem;
      padding: 0.85rem 1.5rem;
      font-size: 1.1rem;
      background: linear-gradient(360deg, #9356DC, #FF79DA);
      box-shadow: 0px 5px 10px 0px #c6c6c6;
      margin-bottom: 2rem;
      border: none; }
      .menu .button__order:hover {
        transition: box-shadow 300ms ease,opacity 300ms ease;
        box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.5);
        opacity: 0.8; }
  .menu .container {
    padding: 10px; }
    @media (min-width: 1050px) {
      .menu .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); } }
  .menu .meal__title {
    color: #4c4c4c;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 10px;
    text-transform: uppercase;
    max-width: 60px;
    font-size: 1.4rem;
    margin: 55px 0 0px 20px; }
    @media (min-width: 900px) {
      .menu .meal__title {
        margin: 20px; } }
  .menu .meal__title--top {
    margin: 20px 0 0 20px;
    color: #4c4c4c;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 10px;
    text-transform: uppercase;
    max-width: 60px;
    font-size: 1.4rem; }
    @media (min-width: 900px) {
      .menu .meal__title--top {
        margin: 20px; } }
  .menu .meal__menu {
    animation: animationMenu 3s ease 0s normal none;
    display: flex;
    background-color: white;
    height: 75px;
    border-radius: 20px;
    padding-left: 20px;
    margin: 10px;
    box-shadow: 0px 5px 10px 0px #c6c6c6;
    cursor: pointer;
    margin-top: 20px; }
    @media (min-width: 1345px) and (max-width: 1990px) {
      .menu .meal__menu {
        width: 400px; } }
    @media (min-width: 1260px) and (max-width: 1344px) {
      .menu .meal__menu {
        width: 370px; } }
    @media (min-width: 1190px) and (max-width: 1259px) {
      .menu .meal__menu {
        width: 340px; } }
    @media (min-width: 1125px) and (max-width: 1189px) {
      .menu .meal__menu {
        width: 320px; } }
    @media (min-width: 1051px) and (max-width: 1124px) {
      .menu .meal__menu {
        width: 300px; } }
    .menu .meal__menu:hover > .meal__menu--checkbox {
      animation: checkmark 500ms ease-in-out forwards; }
    .menu .meal__menu:hover .checkmark {
      transform: rotate(0deg); }
    .menu .meal__menu * {
      margin: 0%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .menu .meal__menu--description {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      @media (min-width: 1132px) and (max-width: 1300px) {
        .menu .meal__menu--description {
          font-size: 0.9rem; } }
      @media (min-width: 1050px) and (max-width: 1131px) {
        .menu .meal__menu--description {
          font-size: 0.8rem; } }
      .menu .meal__menu--description .description {
        font-weight: 700;
        font-size: 1.1rem; }
      .menu .meal__menu--description .description .chicken {
        width: 50%;
        display: flex;
        flex-wrap: wrap; }
      .menu .meal__menu--description .subtitle {
        font-size: 1.14rem;
        font-weight: 700; }
    .menu .meal__menu--price {
      font-weight: bold;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 10px;
      padding-right: 10px;
      font-size: 0.9rem;
      margin-left: 20px; }
    .menu .meal__menu--checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      color: #fff;
      background-color: #99E2D0;
      border-radius: 0px 20px 20px 0px;
      width: 0%; }
      .menu .meal__menu--checkbox .checkmark {
        font-size: 1.5rem;
        transform: rotate(-320deg);
        transition-duration: 0.8s; }

.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(30deg, #9356DC, #FF79DA);
  animation: loading 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 3; }
  .loading__spinner {
    position: absolute;
    font-size: 8rem;
    color: #fff;
    animation: spinner 3s ease 0s infinite normal none; }

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-weight: 500;
  width: 100%;
  box-shadow: 1px 3px 10px 1px #c6c6c6 inset; }
  .location__text {
    padding: 1.2rem; }

.presentation {
  padding-top: 2rem;
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .presentation__title {
    margin: 0; }
  .presentation__text {
    font-size: 1.2rem;
    padding-top: 1rem;
    color: #555;
    padding-bottom: 1rem; }
  .presentation__btn {
    color: #fff;
    outline-style: none;
    cursor: pointer;
    display: inline-flex;
    border-radius: 5rem;
    padding: 0.85rem 1.5rem;
    font-size: 1.1rem;
    background: linear-gradient(360deg, #9356DC, #FF79DA);
    box-shadow: 0px 5px 10px 0px #c6c6c6;
    margin-bottom: 2rem; }
    .presentation__btn:hover {
      transition: box-shadow 300ms ease,opacity 300ms ease;
      box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.5);
      opacity: 0.8; }

a {
  text-decoration: none;
  color: inherit; }

.operation {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 1241px) {
    .operation {
      display: grid;
      grid-template-columns: repeat(4, auto);
      margin: 30px;
      align-items: center; } }
  @media (min-width: 960px) and (max-width: 1240px) {
    .operation {
      display: grid;
      grid-template-columns: repeat(3, auto);
      margin: 30px;
      align-items: center; } }
  .operation__title {
    margin-left: 1rem;
    width: 100%; }
    @media (min-width: 750px) and (max-width: 1240px) {
      .operation__title {
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center; } }
  .operation__content {
    text-align: center;
    position: relative;
    width: 70%;
    display: inline-flex;
    align-items: center;
    padding: 1.5rem 1.5rem 1.5rem 2.8rem;
    cursor: pointer;
    box-shadow: 2px 6px 6px 0px rgba(50, 50, 50, 0.22);
    background-color: #f6f6f6;
    border-radius: 1.5rem;
    margin: 1rem auto;
    position: relative; }
    .operation__content:hover {
      background-color: white;
      box-shadow: 5px 10px 10px 0px #c6c6c6; }
  .operation__btn {
    position: absolute;
    background-color: #9356DC;
    border: 0.5px solid #9356DC;
    border-radius: 100%;
    width: 1.3rem;
    height: 1.3rem;
    left: 0;
    color: #fff;
    transform: translateX(-50%);
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; }
  .operation__box {
    display: flex; }
    .operation__box__fa, .operation__box .fas {
      position: absolute;
      left: 34px;
      color: #929191;
      font-size: 1.3rem; }
    .operation__box--text {
      margin-left: 35px;
      font-weight: 600;
      font-size: 1rem; }
    .operation__box i.fa-store {
      color: #9356DC; }

#restaurantsPlats {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0.9rem 2.7rem 0.9rem;
  margin-top: 2.2rem;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0.9rem 2.7rem 0.9rem;
  margin-top: 2.2rem; }
  @media (min-width: 1100px) {
    #restaurantsPlats {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: auto 1fr;
      column-gap: 20px; } }
  @media (min-width: 700px) and (max-width: 1099px) {
    #restaurantsPlats {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr 1fr;
      column-gap: 15px; } }
  #restaurantsPlats #title {
    margin: 0;
    padding-bottom: 10px;
    grid-column: 1/ -1; }
  #restaurantsPlats .photo {
    overflow: hidden;
    height: 280px;
    margin: 10px 0px;
    position: relative;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px #c6c6c6; }
    #restaurantsPlats .photo .photo__index {
      margin: 0; }
    @media (max-width: 412px) {
      #restaurantsPlats .photo .verticale img {
        position: absolute;
        bottom: -30px; } }
    @media (max-width: 412px) {
      #restaurantsPlats .photo .position img {
        position: absolute;
        top: -30px; } }
    #restaurantsPlats .photo .photo__index img {
      width: 100%; }
      @media (min-width: 1023px) {
        #restaurantsPlats .photo .photo__index img {
          width: 100%;
          height: 270px;
          object-fit: cover;
          position: absolute;
          top: -30px; } }
    #restaurantsPlats .photo .photo__name {
      width: 100%;
      font-size: 1.1em;
      border-radius: 0 0 25px 25px;
      position: absolute;
      padding: 10px 15px 15px 15px;
      background-color: #fff;
      bottom: 0px;
      color: #a0a0a0; }
      #restaurantsPlats .photo .photo__name strong {
        color: #000;
        font-size: 1.2rem;
        line-height: 2rem; }
      #restaurantsPlats .photo .photo__name br .photo__name--street {
        font-size: 0.8rem; }
    #restaurantsPlats .photo i {
      position: absolute;
      left: 76%;
      top: 35%;
      font-size: 1.5rem; }
    #restaurantsPlats .photo .new {
      position: absolute;
      right: 5%;
      top: 7%;
      background-color: #99e2d0;
      color: #269e80;
      padding: 0.312rem;
      font-size: 0.9rem;
      border-radius: 2px; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 1rem; }
  .header__link {
    position: absolute;
    left: 20px; }
    .header__link i {
      font-size: 1.3rem; }
  .header__logo {
    font-size: 0.2em; }

.banner__image {
  margin-bottom: 250px; }
  .banner__image--photo {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 300px;
    object-fit: cover; }

.footer {
  background-color: #353535;
  color: #fff; }
  @media (min-width: 650px) and (max-width: 910px) {
    .footer {
      text-align: center; } }
  .footer__title {
    font-family: 'Shrikhand', sans-serif;
    padding: 25px 0 15px 30px;
    font-size: 1.1rem; }
    @media (min-width: 650px) and (max-width: 913px) {
      .footer__title {
        margin-right: 30px; } }
  .footer__list {
    padding: 0px 40px 30px 30px;
    line-height: 2rem; }
    @media (min-width: 910px) {
      .footer__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr); } }
  .footer i {
    padding-right: 7px;
    font-size: 0.8rem; }

.footer ul li {
  list-style: none; }

/*# sourceMappingURL=style.css.map */
