// changement d'état de page principal après l'animation
@keyframes loading{
    100% {
      opacity: 0;
      z-index: -3;
    }
}

//  animation tournoiement
@keyframes spinner {
     0%{
         transform: scale(1) rotate(0);
     }
     50%{
      transform: scale(2) rotate(360deg);
    }
     100%{
         transform: scale(1) rotate(0);
     }
}
 
//  animation menu
@keyframes animationMenu {
   0%{
       opacity: 0;
       transform: translate(0, 20px);
    }
    90% {
     opacity: 1;
    }
   100%{
       transform: translate(0, 0);
       opacity: 1;
   }
}
 
@keyframes checkmark {
   0%{
     width: 0px;
   }
   100%{
     width: 100px;
   }
 }
 
// keyframes coeur
@keyframes allofheart{
    0%{
        opacity: 0.4;
    }
    30%{
        font-weight: 600;
        opacity: 0.5;
     }
    50%{
        font-weight: 700;
        opacity: 0.6;
    }
    70%{
        font-weight: 800;
        opacity: 0.7;
    }
    80%{
        font-weight: 900;
        opacity: 0.85
     }
    100%{
        font-weight: 900;
        opacity: 1;
     }
 }
 .fa-heart:hover{
  //  animation coeur
    animation: allofheart 1s ease-out forwards;
    background: $gradient-color !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}