.menu {
    background-color: $background-color;
    border-radius: 50px 50px 0 0;
    

    .head {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-top: 20px;
    
        
        &__title {
            margin-left: 30px;
            font-family: 'Shrikhand', sans-serif;
            text-align: center;
            font-size: 1.6rem;
        }
        i {
            font-size: 1.6rem !important;
            @include heart;
        }
        
    }
    .button {
            @include center;
            padding: 25px 0 65px 0;
        &__order {
          @include button;
        }

    }

    .container {
        padding: 10px;
    }
    .meal {
        @include menu;
    }
}