$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-new : #99e2d0;
$color-white: #fff;
$color-black: #000;
$color-footer: #353535;
$background-color: #f6f6f6;
$background-clr: #eaeaea;
$box-color: #c6c6c6;
$color-menu: #f6f6f6;
$color-text-photo: #a0a0a0;
$color-text-presentation: #555;
$color-meal: #4c4c4c;
$color-i: rgb(146, 145, 145);
$gradient-color: linear-gradient(160deg, $color-secondary 2%, $color-primary);
