.footer {
    background-color: $color-footer;
    color: $color-white;
    
    &__title {
        font-family: 'Shrikhand', sans-serif;
        
        padding: 25px 0 15px 30px;
        font-size: 1.1rem;
        
    }
    &__list {
        
        padding: 0px 40px 30px 30px;
        line-height: 2rem;
        
    }
    & i {
        padding-right: 7px;
        font-size: 0.8rem;
    }
  
}
.footer ul li {
    list-style: none;
}