.header {
    @include center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    
    &__link {
        position: absolute;
        left: 20px;

        i {
            font-size: 1.3rem;
        }
    }
    &__logo {
        font-size: 0.2em;
    }
}